* {
  margin: 0;
  padding: 9;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  width: 60%;
  margin: auto;
}

a {
  text-decoration: none;
}

p {
  color: white;
}

header .mini {
  display: flex;
  justify-content: flex-end;
  background-color: blue;
}
header .mini a {
  color: white;
}
header .mini li {
  padding: 0 0.5rem;
}
header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
header .menu li {
  padding: 0 1rem;
}
header .menu li.active {
  border-bottom: 2px solid blue;
}
header .jumbotron {
  width: auto;
  height: 350px;
  overflow: hidden;
}

main .black-bg {
  background-color: black;
  position: relative;
}
main .black-bg h2 {
  color: white;
  background-color: blue;
  padding: 0.4rem;
  width: 230px;
  text-align: center;
  position: absolute;
  top: -1rem;
  left: 305px;
}
main .black-bg .container {
  padding-top: 3rem;
}
main .black-bg .container .comics-list {
  display: flex;
  flex-wrap: wrap;
}
main .black-bg .container .comics-list .comic-card {
  margin: 5px;
  width: calc(16.6666666667% - 10px);
}
main .black-bg .container .comics-list .comic-card h3 {
  color: white;
}
main .black-bg .info-title {
  color: white;
  text-transform: uppercase;
}
main .black-bg .info-comic {
  display: flex;
  justify-content: space-between;
}
main .black-bg .info-comic p {
  margin-top: 2rem;
  width: 70%;
}
main .black-bg .talent-specs {
  display: flex;
}
main .black-bg .talent-specs .talent {
  width: 70%;
}
main .black-bg .talent-specs .talent h3 {
  color: white;
}
main .black-bg .talent-specs .talent-art {
  display: flex;
}
main .black-bg .talent-specs .talent-art h4 {
  color: white;
}
main .black-bg .specs {
  width: 30%;
}
main .black-bg .specs h3 {
  color: white;
}
main .black-bg .specs .specs-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
main .black-bg .specs .specs-info h4 {
  color: white;
  width: 50%;
  margin-top: 1rem;
}
main .black-bg .specs .specs-info p {
  width: 50%;
  margin-top: 1rem;
}