header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 120px;
  
    img {
      padding: 1rem;
    }
  
    ul {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  
    li {
      display: inline-block;
      margin: 0 1rem;
      text-transform: uppercase;
      line-height: 120px;
      border-bottom: 5px solid transparent;
      cursor: pointer;
  
      &.active,
      &:hover {
        border-bottom: 5px solid #0282f9;
  
        a {
          color: #0282f9;
        }
      }
    }
  }